.regionals-navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    align-items: baseline;
    align-content: space-around;
    row-gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}
.regionals-navigation-wrapper > a {
    background-color: rgb(98, 0, 128);
    color: white;
    border-radius: 16px;
    padding: 0.3rem 1rem;
    text-decoration: none;
}
@media only screen and (min-width: 768) {
    .regionals-navigation-wrapper > a {
        margin: 0 0.5rem;
    }
}
@media only screen and (min-width: 1280px) {
    .regionals-navigation {
        display: flex;
        justify-content: center;
    }
    .regionals-navigation-wrapper {
        width: 1260px;
    }
}