.gamepage-details {
  text-align: center;
}
.gamepage .scorecomponent-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
}
.gamepage .scorecomponent-event {
  order: 1;
  font-size: 1em;
}
.gamepage .scorecomponent-details {
  order: 2;
}
.gamepage .scorecomponent-details-team:hover {
  background-color: #000000;
  transition: 0.3s;
  color: #fff;
  font-weight: bold;
  font-family: "montserrat-medium", sans-serif;
}
.gamepage-stats {
  display: flex;
}
.gamepage-stats-team, .gamepage-stats-notification {
  text-align: center;
  margin-top: 2em;
  font-family: "montserrat-medium", sans-serif;
}
.gamepage-roster {
  border-right: 2px #6b0000 solid;
  width: 200px;
}
.gamepage-roster-skater {
  position: relative;
  padding: .25em 1em .25em 2em;
  cursor: pointer;
}
.gamepage-roster-skater:hover {
  background-color: #6b00008b;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: bold;
}
.gamepage-roster-skater-award {
  position: absolute;
  left: 8px; 
}
.gamepage-roster-skater-selected {
  background-color: #6b0000 !important;
  border-radius: 8px;
  transition: 0.3s;
  color: #fff;
  font-weight: bold;
}
.gamepage-skater-selector {
  display: none;
}
.gamepage-skater {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .gamepage-roster {
    display: none;
  }
  .gamepage-stats {
    flex-direction: column;
  }
  .gamepage-skater-selector {
    display: flex;
    justify-content: center;
  }
  .gamepage-skater-selector > select {
    width: 90%;
  }
  .gamepage-skater {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  h1.gamepage {
    max-width: 90vw;
  }
  .gamepage-score-team {
    width: 100px;
  }
  .gamepage-score-value {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media only screen and (max-width: 400px) {
  .gamepage-score-team {
    width: 75px;
  }
  .gamepage-score-value {
    margin-left: 4px;
    margin-right: 4px;
  }
}