.scorespage {
    padding: 72px 1.2em 0;
    text-align: center;
    background-color: #ffffff;
    line-height: 1em;
}
#scorespage-filter-seasons {
    margin: 1em 0 .25em 0;
}
.scorespage-filter-seasons-item-selected {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px 12px 4px 8px;
    margin: 0 8px;
    height: unset;
    line-height: unset;
    background-color: unset;
}
.scorespage-filter-seasons-item-selected:hover {
    background-color: rgb(197, 187, 187);
}
.scorespage-filter-teams {
    margin: 0.5em 0 0 2em;
}
.scorespage-filter-teams-item {
    line-height: 1.5em;
    text-align: left;
    display: block;
    font-size: 1em;
    height: unset;
    padding: unset;
    margin: unset;
    border: 0px;
    background-color: unset;
    color: unset;
}
.scorespage-filter-teams-item:hover {
    color: black;
    background-color: unset;
}
.scorespage-filter-teams-item-selected {
    font-weight: bold;
    background-color: unset;;
}
.scorespage-result {
    padding: 2em 0;
}
@media only screen and (min-width: 768px) {
    #scorespage-filter-seasons {
        margin-bottom: 1em;
    }
    .scorespage-filter-teams {
        margin: 2em 0 0 5em;
    }
}
@media only screen and (min-width: 992px) {
    .scorespage {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5rem;
    }
    .scorespage-filters {
        margin-left: 1em;
    }
    .scorespage-filter-seasons-container {
        display: flex;
        flex-direction: column;
    }
    .scorespage-filter-teams {
        margin-left: unset;
    }
}