.feature__content {
  line-height: 1;
  padding-right: 2rem;
  padding-top: 1rem;
}

.feature__title {
  display: inline;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.feature__date {
  font-size: 1.2rem;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'montserrat-regular', sans-serif;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0.25rem 0 0rem;
}

a .feature__title {
  color: $ui-01;
  box-shadow: 0px -4px 0px #eee inset;

  &:hover {
    box-shadow: 0px -4px 0px #ccc inset;
  }
}

.feature__description {
  color: #151515;
  line-height: 1.5;
  font-weight: normal;
  font-size: 14px;
  padding-top: 1rem;
}
