.feature__title {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  padding-right: 2rem; 
}

.feature__description {
  color: #151515;
  line-height: 1.5;
  padding-right: 3rem;
  font-weight: normal;
  font-size: 14px;
}
