.sponsors {
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 8rem;
  ;
  background: radial-gradient(
      circle closest-corner at center 125px,
      #222,
      black 80%
    )
    no-repeat;
  text-align: center;
}

.sponsors .row div {
  width: 100%;
}

.sponsors h1 {
  color: #ffffff;
}

.sponsors h1::before {
  background-color: rgba(255, 255, 255, 0.2);
  left: 50%;
  transform: translateX(-50%);
}

.sponsors .sponsor__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border: 24px solid #141515;
}

.sponsors .sponsor__list li {
  background: #fff;
  display: block;
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: 50%;

  @include breakpoint('sm') {
    width: 33.33%;
  }

  @include breakpoint('md') {
    width: 16.666%;
  }

  &:hover {
    filter: none;
    opacity: 1;
  }
}

.sponsors .sponsor__list li a {
  display: block;
  height: 100%;
  background: white;
  padding: 2rem;
}
