.sponsors {
  color: $text-inverse;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: black;
  text-align: center;
}

.sponsors h2 {
  padding: 3rem 0 1rem 0;
  color: $text-inverse-02;
}

.sponsors .row div {
  width: 100%;
}

.sponsors h1 {
  color: $text-inverse;
}

.sponsors h1::before {
  background-color: rgba($ui-light, 0.2);
  left: 50%;
  transform: translateX(-50%);
}

.sponsors .sponsor__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sponsors .sponsor__list li {
  display: block;
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: 50%;

  @include breakpoint('sm') {
    width: 25%;
  }

  &:hover {
    filter: none;
    opacity: 1;
  }
}

.sponsors .sponsor__list li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.supporter__list {
  margin-left: 0;

  @include breakpoint('md') {
    display: flex;
    justify-content: center;
  }
}

.supporter__list li {
  list-style: none;
  color: $text-02;
  padding: 0 1rem;
  width: 100%;

  @include breakpoint('md') {
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.supporter__list li a {
  color: $text-inverse;
  box-shadow: 0px -4px 0px lighten($ui-dark, 15%) inset;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    box-shadow: 0px -4px 0px lighten($ui-dark, 25%) inset;
  }
}
