.sponsors {
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 8rem;
  ;
  background: radial-gradient(
      circle closest-corner at center 125px,
      #222,
      black 80%
    )
    no-repeat;
  text-align: center;
}

.sponsors h2 {
  padding: 3rem 0 1rem 0;
}

.sponsors .row div {
  width: 100%;
}

.sponsors h1 {
  color: #ffffff;
}

.sponsors h1::before {
  background-color: rgba(255, 255, 255, 0.2);
  left: 50%;
  transform: translateX(-50%);
}

.sponsor__types {
  border: 24px solid #141515;
  background: #fff;
}

.sponsors .sponsor__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sponsors .sponsor__list li {
  background: #fff;
  display: block;
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: 50%;

  @include breakpoint('sm') {
    width: 33.33%;
  }

  @include breakpoint('md') {
    width: 16.666%;
  }

  &:hover {
    filter: none;
    opacity: 1;
  }
}

.sponsors .sponsor__list li a {
  display: block;
  height: 100%;
  background: white;
  padding: 2rem;
}

.supporter__list {
  display: flex;
  justify-content: center;
}

.supporter__list li {
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  color: #000;
  padding: 0 1rem;
}

.supporter__list li a {
  color: #690000;
  box-shadow: 0px -4px 0px #eee inset;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    box-shadow: 0px -4px 0px #ccc inset;
  }
}