/* ------------------------------------------------------------------- 
 * events
 * ------------------------------------------------------------------- */
.event {
  padding-left: 3rem;
}

.event h3 {
font-weight: normal;
margin-bottom: 0;
position: relative;

span {
  font-weight: bold;
}

.icon-calendar {
  font-weight: normal;
  position: absolute;
  left: -28px;
  top: 5px;
}
}

.event__location {
  margin-bottom: 1rem;
}

.col-four .event {
  font-size: 1.25rem;

  h3 {
    font-size: 1.5rem;
  }
}
