.regionals-info-header-image {
    background-image: url('../images/regionals/info-header.png');
}
.regionals-info-about img {
    width: 100%;
}
[class^="regionals-info-event-dates-"][class$="-date"] {
    font-weight: bold;
    color: rgb(255, 169, 38);
}
.regionals-info-event-location iframe {
    width: 100%;
    height: 300px;
}
.regionals-info-schedulescores-details-nav {
    margin-bottom: 2rem;
}
button.regionals-info-schedulescores-details-nav-item {
    padding: 0;
    display: block;
    white-space: inherit;
    border: none;
    background-color: unset;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: muli-regular, sans-serif;
    height: unset;
    background-color: unset !important;
}
button.regionals-info-schedulescores-details-nav-item-selected {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(195, 53, 52);
}
button.regionals-info-schedulescores-details-nav-item:hover {
    background-color: unset;
    border-color: unset;
    color: rgb(195, 53, 52) !important;
}
.regionals-info-schedulescores-details-bracket {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100vw - 4rem) * 2534/4500);
}
div.regionals-info-schedulescores-details-bracket-img {
    color: #2b2f70;
    font-weight: bolder;
    font-size: 2rem;
}
.regionals-info-bids-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regionals-info-bids-details ol {
    text-align: left;
    width: 4rem;
}
@media only screen and (min-width: 768px) {
    .regionals-info-more-details {
        display: flex;
        column-gap: 2rem;
    }
    .regionals-info-schedulescores-details {
        display: flex;
        column-gap: 1rem;
    }
    .regionals-info-schedulescores-details-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 12rem;
        line-height: 2rem;
    }
    .regionals-info-schedulescores-details-bracket {
        width: calc(100vw - 24rem);
    }
    .regionals-info-schedulescores-details-bracket {
        height: calc((100vw - 225px) * 2534/4500);
    }
}