.regionals-schedule-header {
    height: 555px;
}
.regionals-schedule-header-image {
    background-image: url('../images/regionals/schedule-header.jpeg');
    background-position: center center;
    height: 555px;
}
.regionals-schedule-about img {
    width: 100%;
}
.regionals-schedule-event-break {
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 1rem;
}
.regionals-schedule-event-sectiontitle {
    font-size: 2rem;
}
.regionals-schedule-event-sectiontitle, .regionals-schedule-event-highlight {
    font-weight: bold;
    color: rgb(255, 169, 38);
    display: block;
}
.regionals-schedule-event-emphasis {
    font-weight: bold;
    display: block;
}
.regionals-schedule-brackets-details-nav {
    margin-bottom: 2rem;
}
button.regionals-schedule-brackets-details-nav-item {
    padding: 0;
    display: block;
    white-space: inherit;
    border: none;
    background-color: unset;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: muli-regular, sans-serif;
    height: unset;
    background-color: unset !important;
}
button.regionals-schedule-brackets-details-nav-item-selected {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(195, 53, 52);
}
button.regionals-schedule-brackets-details-nav-item:hover {
    background-color: unset;
    border-color: unset;
    color: rgb(195, 53, 52) !important;
}
.regionals-schedule-brackets-details-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100vw - 4rem) * 2534/4500);
}
.regionals-schedule-brackets-details-img {
    display: none;
}
.regionals-schedule-brackets-details-img-selected {
    display: inline;
}
div.regionals-schedule-brackets-details-img-selected {
    display: flex;
    color: #2b2f70;
    font-weight: bolder;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.regionals-schedule-bids-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regionals-schedule-results  {
    display: flex;
    column-gap: 1rem;;
}
.regionals-schedule-results div {
    text-align: left;
    text-align: left;
}
@media only screen and (min-width: 768px) {
    .regionals-schedule-brackets-details {
        display: flex;
        column-gap: 1rem;
    }
    .regionals-schedule-brackets-details-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 12rem;
        line-height: 2rem;
    }
    .regionals-schedule-brackets-details-img {
        width: calc(100vw - 23rem);
        height: calc((100vw - 225px) * 2534/4500);
    }
    div.regionals-schedule-brackets-details-img {
        border: 2px solid #2b2f70;
    }
}