.regionals-staff-header {
    height: 555px;
}
.regionals-staff-header-image {
    background-image: url('../images/regionals/staff-header.jpeg');
    background-position: left 18% center;
    height: 555px;
}
.regionals-staff img {
    width: 100%;
}
.regionals-staff-signup-subtitle {
    line-height: 3rem;;
}
.regionals-staff-signups-option button {
    width: 100%;
    margin-top: 1.5rem;
}
.regionals-staff-heads-official {
    border-bottom: solid 1px black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &:first-child {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    &:last-child {
        border: 0;
        padding-bottom: 0;
    }
}
.theme-2 .regionals-staff-sectiontitle {
    color: rgb(255, 169, 38);
}
.regionals-staff-heads-official-column1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

[class^="regionals-staff-bio-image-"] {
    background-size: cover;
}
[class^="regionals-staff-bio-image-"]:not(.regionals-staff-bio-image-border) {
    height: 80%;
    width: 80%;
}
.regionals-staff-bio-image-border {
    background-image: url('../images/regionals/staff-border.png');
    background-color: rgb(252, 222, 220);
    height: calc(100vw - 4rem);
    width: calc(100vw - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.regionals-staff-bio-image-darthbling {
    background-image: url('../images/regionals/staff-darthbling.jpeg');
    background-position: center top;
}
.regionals-staff-bio-image-flanneryoclobber {
    background-image: url('../images/regionals/staff-flanneryoclobber.png');
    background-position: left top;
}
.regionals-staff-bio-image-misothorny {
    background-image: url('../images/regionals/staff-misothorny.png');
    background-position: center bottom;
}
@media only screen and (min-width: 768px) {
    .regionals-staff-signups-columns, .regionals-staff-heads-official {
        display: flex;
    }
    .regionals-staff-signups-columns > div {
        flex-grow: 1;
    }
    .regionas-staff-signups-rows .regionals-staff-signups-option {
        width: 100%;
    }
    .regionals-staff-heads-official-column1 {
        width: calc(25vw - 1rem);
    }
    .regionals-staff-bio-image-border {
        height: calc(25vw - 1rem);
        width: 100%;
    }
    .regionals-staff-heads-official-column2 {
        width: 75%;
        margin-left: 3rem;
    }
}