.regionals-texas-header {
    height: 555px;
}
.regionals-texas-header-image {
    background-image: url('../images/regionals/texas-header.jpeg');
    height: 555px;
    background-position: right 53% center;
}
.regionals-texas-leagues-adult-details, .regionals-texas-leagues-junior-details {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.regionals-texas-leagues-adult-details iframe, .regionals-texas-leagues-junior-details iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
    .regionals-texas-leagues {
        display: flex;
        justify-content: space-between;
        column-gap: 4rem;
    }
    .regionals-texas-leagues-adult, .regionals-texas-leagues-junior {
        width: 50%;
    }
}