.regionals-tickets-header{
    height: 555px;
}
.regionals-tickets-header-image{
    background-image: url('../images/regionals/tickets-header.jpeg');
    background-position: center top;
    height: 555px;
}
.regionals-tickets-passes-option-image {
    width: 100%;
}
.regionals-tickets-passes-option {
    margin-bottom: 5rem;
}
.regionals-tickets-passes-option-title {
    padding-bottom: 0 !important;
}
.regionals-tickets-disclaimer {
    padding: 2rem;
    line-height: 1rem;
}
@media only screen and (min-width: 768px) {
    .regionals-tickets-passes-row {
        display: flex;
        column-gap: 5rem;
        justify-content: space-around;
        margin-bottom: 5rem;
    }
    .regionals-tickets-passes-option {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 1280px) {
    .regionals-tickets-passes-option {
        max-width: 565px;
    }
}