.main--home {
  max-width: $max-width;
  margin: 0 auto;
}
//---------------------------------------
// Banner
//---------------------------------------
.banner--homepage {
  background: $bg-dark url(../images/banner.png) center center/cover;
  background-size: cover;
  height: 500px;
  //opacity: .3;
}

//---------------------------------------
// Featured
//---------------------------------------
.featured {
  padding: $spacing-lg;
  display: flex;
  flex-wrap: wrap;

  > div {
    max-width: $max-width;
    margin: 0 auto;
    color: $text-inverse;
  }
}

//---------------------------------------
// Featured Page + Blog
//---------------------------------------
.featured--items > div {
  * {
    text-decoration: none;
  }

  margin: 0 $spacing-md;
  width: 100%;
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

  &:hover .blog__title,
  &:hover .page__title {
    color: $hover;
  }

  @include breakpoint(sm) {
    width: 50%;
  }

  @include breakpoint(md) {
    width: 33%;
  }

  a {
    display: block;
    border: none;
  }
}

.blog__content,
.page__content {
  padding: $spacing-md;
}

.blog__description,
.page__description {
  color: $text-02;
}

.blog__thumbnail,
.page__thumbnail {
  

  img {
    &:hover {
      opacity: .9;
    }
  }
}

//---------------------------------------
// events
//---------------------------------------
.featured--events {
  background-attachment: fixed;
  background-size: cover;
  padding: 120px 0 70px 0;
  position: relative;
  background: $ui-01;
  text-align: center;
  text-align: center;
}

//---------------------------------------
// Sponsors
//---------------------------------------
.sponsor {
  width: 100%;
  background: white;
}

.sponsor__list {
  list-style: none;
  margin: 0;
  padding: $spacing-lg;
}

.sponsor__item {
  width: 150px;
}
