/* =================================================================== 
 *
 *  Dazzle v1.0 Main Stylesheet
 *  04-27-2017
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. buttons
 *  07. other components
 *  08. common and reusable theme styles
 *  09. header styles
 *  10. home
 *  11. about
 *  12. pricing 
 *  13. testimonials
 *  14. download
 *  15. footer styles
 *
 * =================================================================== */

/* ===================================================================
 *  01. webfonts and iconfonts - (_document-setup)
 *
 * ------------------------------------------------------------------- */

@import url('font-awesome/css/font-awesome.min.css');
@import url('micons/micons.css');
@import url('fonts.css');

/* ===================================================================
 *  02. base style overrides - (_document-setup)
 *
 * ------------------------------------------------------------------- */

html {
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  font-family: 'muli-regular', sans-serif;
  font-size: 1.6rem;
  line-height: 1.875;
  color: $text-01;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url('../images/splatter.jpg');
  background-size: 300%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -75px;

  @media only screen and (min-width: 500px) {
    background-size: 200%;
    background-position: 0 -57px;
  }

  @media only screen and (min-width: 600px) {
    background-size: 150%;
    background-position: 0 -65px;
  }

  @include breakpoint('md') {
    background-size: 100%;
    background-position: 0 -75px;
  }
}

/* ------------------------------------------------------------------- 
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */

a,
a:visited {
  color: $ui-01;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-content a,
.content .col-eight a,
.content-home a,
.event a {
  font-weight: bold;
  border-bottom: 1px solid $ui-accent-02;
  box-shadow: 0px -4px 0px $ui-accent-02 inset;

  &:hover {
    border-color: $ui-accent;
    box-shadow: 0px -4px 0px $ui-accent inset;
  }
}

a:hover,
a:focus {
  color: $active;
}

/* ===================================================================
 *  03. typography & general theme styles - (_document-setup.scss) 
 *
 * ------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
  font-family: 'montserrat-regular', sans-serif;
  color: $text-02;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.4rem;
}

h3,
.h03,
h4,
.h04 {
  margin-bottom: 1.5rem;
}
h5,
.h05,
h6,
.h06 {
  margin-bottom: 1.2rem;
}
h1,
.h01 {
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -0.1rem;
}

@media only screen and (max-width: 600px) {
  h1,
  .h01 {
    font-size: 2.6rem;
    letter-spacing: -0.07rem;
  }
}

h2,
.h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}
h3,
.h03 {
  font-size: 2rem;
  line-height: 1.5;
}
h4,
.h04 {
  font-size: 1.7rem;
  line-height: 1.76;
}
h5,
.h05 {
  font-size: 1.4rem;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
h6,
.h06 {
  font-size: 1.3rem;
  line-height: 1.85;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p img {
  margin: 0;
}

blockquote p img {
  float: right;
  max-width: 35%;
  margin-left: 1rem;
}

p.lead {
  font-family: 'muli-light', sans-serif;
  font-size: 2.1rem;
  line-height: 1.857;
  color: #838383;
  margin-bottom: 3.6rem;
}

@media only screen and (max-width: 768px) {
  p.lead {
    font-size: 2rem;
  }
}

em,
i,
strong,
b {
  font-style: normal;
  font-weight: normal;
}
em,
i {
  font-family: 'muli-italic', sans-serif;
}
strong,
b {
  font-family: 'muli-bold', sans-serif;
}

small {
  font-size: 1.1rem;
  line-height: inherit;
}

blockquote {
  /*
  margin: 3rem 0;
  padding-left: 5rem;
  position: relative;
  */
}

blockquote:before {
  /*
  content: '\201C';
  font-size: 10rem;
  line-height: 0px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
  font-family: arial, sans-serif;
  position: absolute;
  top: 3.6rem;
  left: 0;
  */
}

blockquote p {
  font-family: 'muli-light', sans-serif;
  padding: 0;
  font-size: 1.9rem;
  line-height: 1.895;
}

blockquote cite {
  display: block;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.615;
}

blockquote cite:before {
  content: '\2014 \0020';
}

blockquote cite a,
blockquote cite a:visited {
  color: $text-01;
  border: none;
}

abbr {
  font-family: 'muli-bold', sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.05rem;
  color: $text-01;
}

var,
kbd,
samp,
code,
pre {
  font-family: Consolas, 'Andale Mono', Courier, 'Courier New', monospace;
}

pre {
  padding: 2.4rem 3rem 3rem;
  background: #f1f1f1;
}

code {
  font-size: 1.4rem;
  margin: 0 0.2rem;
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

pre > code {
  display: block;
  white-space: pre;
  line-height: 2;
  padding: 0;
  margin: 0;
}

pre.prettyprint > code {
  border: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

mark {
  background: #fff49b;
  color: $text-02;
}

hr {
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.5rem;
  height: 0;
}

/* ------------------------------------------------------------------- 
 * Lists - (_document-setup.scss)  
 * ------------------------------------------------------------------- */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: 0.4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.6rem 0 0.6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 0.8rem;
  position: relative;
}

ul.disc li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $ui-01;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: $ui-01;
}

dd {
  margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------- 
 * Spacing - (_document-setup)  
 * ------------------------------------------------------------------- */

button,
a.button {
  margin-bottom: 1.2rem;
  box-shadow: 0 0 0 !important;

  &:hover {
    border-color: $ui-01;
  }
}

fieldset {
  margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
  margin-bottom: 3rem;
}

/* ------------------------------------------------------------------- 
 * img 
 * ------------------------------------------------------------------- */

img.pull-right {
  margin: 1.5rem 0 0 3rem;
}

img.pull-left {
  margin: 1.5rem 3rem 0 0;
}

/* ------------------------------------------------------------------- 
 * block grids paddings
 * ------------------------------------------------------------------- */

.bgrid {
  //padding: 0 20px;
  padding: 0;
}
/*
@media only screen and (max-width: 1024px) {
  .bgrid {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 768px) {
  .bgrid {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .bgrid {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 400px) {
  .bgrid {
    padding: 0;
  }
}
*/
/* ------------------------------------------------------------------- 
 * tables - (_document-setup.scss)  
 * ------------------------------------------------------------------- */

table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'muli-regular', sans-serif;
}

th,
td {
  padding: .5rem 3rem;
  text-align: left;
}

th {
  color: $text-02;
  font-family: 'montserrat-bold', sans-serif;
}

td {
  line-height: 1.5;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


/* ===================================================================
 *  06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- */

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.5rem;
  height: 5.4rem;
  line-height: calc(5.4rem - 0.6rem);
  padding: 0 3rem;
  margin: 0 0.3rem 1.2rem 0;
  color: $text-02;
  text-decoration: none;
  cursor: pointer;

  white-space: nowrap;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $ui-light-02;
  border: 0.3rem solid $ui-light-02;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  background-color: $ui-light-02;
  border-color: $ui-light-02;
  color: $text-02;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  background-color: $ui-01;
  border-color: $ui-01;
  color: $text-inverse;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  background: $active;
  border-color: $active;
}

button.full-width,
.button.full-width {
  width: 100%;
  margin-right: 0;
}

button.medium,
.button.medium {
  height: 5.7rem !important;
  line-height: calc(5.7rem - 0.6rem) !important;
}

button.large,
.button.large {
  height: 6rem !important;
  line-height: calc(6rem - 0.6rem) !important;
}

button.stroke,
.button.stroke {
  background: transparent !important;
  color: #a5a5a5 !important;
}

button.stroke:hover,
.button.stroke:hover {
  border: 0.3rem solid $ui-01;
  color: $ui-01;
}

button.pill,
.button.pill {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  border-radius: 1000px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ===================================================================
 *  07. other components - (_others.scss)
 *
 * ------------------------------------------------------------------- */

/** 
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside className="pull-quote">
 *		<blockquote>
 *			<p></p>
 *		</blockquote>
 *	</aside>
 *
 * --------------------------------------------------------------------- */

.pull-quote {
  position: relative;
  padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before,
.pull-quote:after {
  height: 1em;
  position: absolute;
  font-size: 10rem;
  font-family: Arial, Sans-Serif;
  color: rgba(0, 0, 0, 0.3);
}

.pull-quote:before {
  content: '\201C';
  top: -3.6rem;
  left: 0;
}

.pull-quote:after {
  content: '\201D';
  bottom: 3.6rem;
  right: 0;
}

.pull-quote blockquote {
  margin: 0;
}

.pull-quote blockquote:before {
  content: none;
}


/* ===================================================================
 *  08. common and reusable theme styles 
 *
 * ------------------------------------------------------------------- */

h1.intro-header {
  font-family: 'montserrat-regular', sans-serif;
  font-size: 3.4rem;
  line-height: 1.324;
  color: $text-02;
  position: relative;
  padding-bottom: 3.6rem;
  width: 100%;
}

h1.intro-header--full {
  width: 100%;
  margin: 0 auto;

  @include breakpoint('md') {
    width: 60%;
  }
}

h1.intro-header::before {
  display: block;
  content: '';
  height: 2px;
  width: 70px;
  background-color: $ui-01;
  position: absolute;
  left: 0;
  bottom: 0;
}

.wide {
  max-width: 1300px;
}

.narrow {
  max-width: 800px;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * common styles
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
  h1.intro-header {
    font-size: 3.1rem;
  }
}

@media only screen and (max-width: 600px) {
  h1.intro-header {
    font-size: 2.6rem;
  }
}

/* ===================================================================
 *  11. about - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
.content {
  padding-top: 12rem;
  padding-bottom: 8rem;
  overflow: hidden;
  background-image: url('../images/splatter-light.jpg');
  background-color: $ui-light;
  background-size: 300%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;

  @media only screen and (min-width: 500px) {
    background-size: 200%;
  }

  @media only screen and (min-width: 600px) {
    background-size: 150%;
  }

  @include breakpoint('md') {
    background-size: 100%;
  }
}

.about-features .features-list {
  padding-top: 5.4rem;
  display: flex;
  flex-wrap: wrap;
}
.about-features .feature {
  margin-bottom: 1.8rem;
}
.about-features .feature .icon {
  margin-bottom: 1.5rem;
  display: inline-block;
}
.about-features .feature .icon i {
  color: $ui-01;
  font-size: 4.8rem;
}
.about-features .feature h3 {
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.9rem;
  color: $text-02;
  margin-top: 0.75rem;
}
.about-how {
  padding-top: 7.2rem;
  padding-bottom: 6rem;
}
.about-how h1.intro-header {
}
.content .about-how h1.intro-header::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.about-how-content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 300px;
  margin-top: 7.2rem;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.about-how-content::before,
.about-how-content::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
}
.about-how-content::before {
  left: 0;
}
.about-how-content::after {
  left: 50%;
}
.about-how-content .about-how-steps {
  width: 100%;
}
.about-how-content .step {
  padding: 0 40px 1.5rem 60px;
  position: relative;
  min-height: 240px;
}
.about-how-content .step h3 {
  margin-bottom: 2.4rem;
}
.about-how-content .step::before {
  display: block;
  font-family: 'muli-bold';
  font-size: 2rem;
  content: attr(data-item);
  color: $text-inverse;
  height: 54px;
  width: 54px;
  line-height: 54px;

  border-radius: 50%;
  background-color: $ui-01;
  box-shadow: 0 0 0 15px #ffffff;
  z-index: 500;
  position: absolute;
  top: -12px;
  left: -27px;
}
.about-bottom-image img {
  vertical-align: bottom;
}
/* ------------------------------------------------------------------- 
 * responsive:
 * about 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .content-intro {
  }
  .content-intro [class*='col-'] {
    width: 100% !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
  }
  .about-how-content {
    max-width: 700px;
  }
}
@media only screen and (max-width: 850px) {
  .about-how-content {
    max-width: 550px;
  }
  .about-how-content::after {
    display: none;
  }
  .about-how-content .step {
    width: 100% !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
    padding-right: 18px;
    min-height: auto;
    padding: 0 40px 0.9rem 60px;
  }
}
@media only screen and (max-width: 768px) {
  .about-features .feature .icon i {
    font-size: 4.4rem;
  }
  .about-features .feature h3 {
    font-size: 1.8rem;
  }
  .about-how h3 {
    font-size: 1.9rem;
  }
  .about-how-content::before {
    left: 30px;
  }
  .about-how-content .step {
    padding: 0 10px 0 80px;
  }
  .about-how-content .step::before {
    font-size: 1.6rem;
    height: 45px;
    width: 45px;
    line-height: 45px;
    top: -9px;
    left: 7.5px;
  }
}
@media only screen and (max-width: 650px) {
  .about-features {
    max-width: 600px;
  }
  .about-features .feature {
    width: 100% !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4.5rem;
  }
  .about-features .feature h3 {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .about-how-content {
  }
  .about-how-content::before {
    display: none;
  }
  .about-how-content .step {
    padding: 60px 0 0 0;
  }
  .about-how-content .step::before {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* ===================================================================
 *  12. side bar
 *
 * ------------------------------------------------------------------- */

 .side-events {
   display: none;

   @include breakpoint('md') {
     display: block;
   }
 }

.side-bar {
  background-color: $ui-01;
  background-image: url('../images/splatter.jpg');
  background-size: 60%;
  background-repeat: repeat-x;
  background-position: bottom;
  border-radius: 3px;
  padding: 2.5rem 1rem 7rem 3rem;
  margin-bottom: 4.8rem;
}

.side-bar ul {
  list-style: none;
  margin: 0;
}

.side-bar a,
.side-bar span {
  color: $text-inverse;
  display: block;
  padding: 0.25rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-family: 'montserrat-regular', sans-serif;
  font-size: 13px;
  display: inline;
}

.side-bar a:hover,
.side-bar a[aria-current='page'] {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 0px rgba($ui-light, 0.3) inset;
}

.side-bar a[aria-current='page'] {
  box-shadow: 0px -4px 0px rgba($ui-light, 0.8) inset;
}

.side-bar ul ul {
  margin-left: 8px;
}

.side-bar__teams {
  margin-top: 24px;
}
