//---------------------------------------
// Global styles
//---------------------------------------

body {
  line-height: 1.5;
  font-family: $font-family;
  background: $bg-light;
  color: $text-01;
}

a {
  color: $text-01;
}

.main--page {
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.side-bar {
  flex-shrink: 0;
  width: 100%;
  padding: $spacing-lg;
  background: $bg-dark;
  color: $text-inverse;

  @include breakpoint(sm) {
    width: 30%;
  }

  a {
    color: $text-inverse;
  }
}

.main-content {
  padding: $spacing-lg;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  color: $text-01;
  font-size: 24px;
  margin: 0;
  margin-bottom: $spacing-md;
}
