//---------------------------------------
// Global styles
//---------------------------------------

body {
    line-height: 1.5;
    font-family: $font-family;
    background: $bg-02;
    color: $text-01;
}

a {
    color: $text-01;
}

main {
    display: flex;
}

.side-bar {
    width: 25%;
    padding: $spacing-lg;
}

.main-content {
    width: 75%;
    padding: $spacing-lg;
}

img {
    max-width: 100%;
}

//---------------------------------------
// Homepage
//---------------------------------------
.featured  {
    padding: $spacing-lg;
    display: flex;
}

.featured .blog__preview,
.featured .page__preview  {
    width: 50%;
    background: $bg-01;
    padding: $spacing-lg;
}
