@use "sass:color";
$ui-01: #6b0000;
$ui-light: #fff;
$ui-light-02: #c5c5c5;
$ui-dark: #141515;
$ui-accent: #ccc;
$ui-accent-02: #eee;
$text-01: #595959;
$text-02: #151515;
$text-inverse: #fff;
$text-inverse-02: #a3a3a3;
$active: color.adjust($ui-01, $lightness: -3%);