@use "../styles/mixins";

// Blog listing page

.blog-list {
  list-style: none;
  margin: none;
  width: 100%;
  margin: 0 auto;

  @include mixins.breakpoint('md') {
    width: 60%;
  }
}

.blog-list__item {
  margin: 0
}

.blog-list .feature__description {
  font-size: 18px;
}

.blog-list a .feature__title {
  font-size: 30px;
}

.blog-list .feature__date {
  font-size: 14px;
}