.regionals-home-header {
    height: 633px;
}
.regionals-home-header-image {
    background-image: url('../images/regionals/home-header.jpeg');
    height: 633px;
    background-position: left 20% center !important;
}
.regionals-home-overview button {
    margin-top: 24px;
}
.regionals-home-divisions-wrapper > div {
    padding: 1rem 0 2rem;
}
.regionals-home-divisions-name {
    font-size: 2.5rem;
}
.regionals-home-volunteer button {
    margin: 2rem 0 !important;
}
.regionals-home-volunteer-details {
    margin-bottom: 2rem;
}
.regionals-home-sponsors-businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1rem;
    row-gap: 1rem;
}
.regionals-home-sponsors-business {
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
@media only screen and (min-width: 580px) {
    .regionals-home-header-image {
        background-position: right 25% center !important;
    }
}
@media only screen and (min-width: 700px) {
    .regionals-home-header-image {
        background-position: center center !important;
    }
}
@media only screen and (min-width: 768px) {
    .regionals-home-overview button {
        width: auto !important;
    }
    .regionals-home-divisions-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 1rem;
    }
    .regionals-home-volunteer-signups {
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
        flex-wrap: wrap;
    }
    .regionals-home-volunteer-signups button {
        margin-top: 12px;
        width: auto;
    }
}

@media only screen and (min-width: 1280px) {
    .regionals-home-overview-wrapper, .regionals-home-volunteer-wrapper, .regionals-home-vendorsponsor-wrapper, .regionals-home-contact-wrapper {
        width: 1260px;
    }
    .regionals-home-overview, .regionals-home-volunteer, .regionals-home-vendorsponsor, .regionals-home-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}