/* ===================================================================
 *  09. header styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

.header {
  width: 100%;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 501;
  border-radius: 2px;
}

.header .row {
  position: relative;
}

/* ------------------------------------------------------------------- 
   * header logo - (_site-layout.css) 
   * ------------------------------------------------------------------- */

.header-logo {
  position: absolute;
  left: 8px;
  top: 10px;
  transition: all 1s ease-in-out;
  z-index: 501;

  @include breakpoint('md') {
    left: 16px;
  }
}

.header-logo a {
  display: flex;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-shadow: none;
  color: white;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-size: 2.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-family: 'montserrat-regular', sans-serif;
}

.header-logo a img {
  height: 50px;
  width: auto;
  margin-right: 1rem;

  @include breakpoint('md') {
    margin-right: 2rem;
  }
}

.header-logo span {
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  
  @include breakpoint('md') {
    font-size: 24px;
  }
}

/* ------------------------------------------------------------------- 
   * menu trigger - (_site-layout.css) 
   * ------------------------------------------------------------------- */

button.header-menu-toggle {
  background: transparent;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  display: none;
  position: fixed;
  right: 32px;
  top: 15px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: 'montserrat-regular', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button.header-menu-toggle:hover,
button.header-menu-toggle:focus {
  color: #ffffff;
}

button.header-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  left: 9px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

button.header-menu-toggle span::before,
button.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button.header-menu-toggle span::before {
  top: -9px;
}

button.header-menu-toggle span::after {
  bottom: -9px;
}

button.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button.header-menu-toggle.is-clicked span::before,
button.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

button.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

button.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* ------------------------------------------------------------------- 
   * navigation - (_layout.scss) 
   * ------------------------------------------------------------------- */

.header-nav-wrap {
  font-family: 'montserrat-medium', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 40px;
}

.header-nav-wrap .header-main-nav {
  display: inline-block;
  list-style: none;
  height: 72px;
  margin: 0 2rem 0 0;
}

.header-nav-wrap .header-main-nav li {
  display: inline-block;
  padding-left: 0;
  margin-left: 2.rem;
}

.header-nav-wrap .header-main-nav li a {
  display: block;
  text-decoration: none;
  padding-top: 22px;
}

.header-nav-wrap .header-main-nav li a,
.header-nav-wrap .header-main-nav li a:visited {
  color: rgba(255, 255, 255, 0.85);
}

.header-nav-wrap .header-main-nav li a:hover,
.header-nav-wrap .header-main-nav li a:focus,
.header-nav-wrap .header-main-nav li a[aria-current='page'] {
  color: #ffffff;

  @include breakpoint('md') {
    box-shadow: 0px -4px 0px rgba(255, 255, 255, 0.3) inset;
  }
}

.header-nav-wrap .header-main-nav li.current a {
  color: #ffffff;
}

.header-nav-wrap .cta {
  height: 3.6rem;
  line-height: calc(3.6rem - 0.6rem);
  padding: 0 1.5rem;
  font-family: 'montserrat-medium', sans-serif;
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

/* ------------------------------------------------------------------- 
   * responsive:
   * header
   * ------------------------------------------------------------------- */

@media only screen and (max-width: 1230px) {
  .header {
    max-width: none;
  }
}

@media only screen and (max-width: 768px) {
  .open .header-nav-wrap {
    display: block;
  }
  .header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    right: auto;
    left: 0;
    background-color: #111111;
    padding: 80px 40px 54px;
  }
  .header-nav-wrap .header-main-nav {
    display: block;
    height: auto;
    margin: 0 0 4.2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
  }
  .header-nav-wrap .header-main-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  }
  .header-nav-wrap .header-main-nav li a {
    padding: 18px 0;
    line-height: 18px;
  }
  .header-nav-wrap .cta {
    height: 42px;
    line-height: calc(42px - 0.6rem);
    padding: 0 30px;
  }
  button.header-menu-toggle {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .header-nav-wrap .cta {
    display: block;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 400px) {
  button.header-menu-toggle {
    right: 24px;
  }
}

/* -------------------------------------------------------------------
   * make sure the menu is visible on larger screens
   * ------------------------------------------------------------------- */

@media only screen and (min-width: 769px) {
  .header-nav-wrap {
    display: block !important;
  }
}
