header {
  position: fixed;
  height: 60px;
  box-shadow: $shadow;
  border-bottom: 1px solid #dedede;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

.logo {
  display: block;
  width: 60px;
  height: auto;
  margin: $spacing-sm;

  img {
    width: 120px;
  }
}

nav {
  display: flex;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.nav-link {
  display: block;
  color: $text-inverse;
  text-decoration: none;
  color: $active;
  font-size: 14px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  border: none;
  padding: $spacing-md;

  &:hover,
  &:focus {
    color: $hover;
  }
}
