header {
  position: fixed;
  height: 60px;
  box-shadow: $shadow;
  border-bottom: 1px solid #dedede;
  background: rgba(white, .9);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

.logo {
  display: flex;
  width: 60px;
  height: auto;
  margin: $spacing-sm;
  border: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;

  img {
    max-height: 100%;
    margin-right: $spacing-md;
  }

  &:hover {
    color: #000;
  }
}

nav {
  display: flex;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.nav-link {
  display: block;
  color: $text-inverse;
  text-decoration: none;
  color: $active;
  font-size: 14px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  border: none;
  padding: $spacing-md;
  line-height: 2;

  &:hover,
  &:focus {
    color: $hover;
  }
}
