/* ===================================================================
 *  15. footer styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */
.wftda-logo {
  width: 75px;
  float: left;
  margin-right: 16px;
}

footer {
  padding-top: 9rem;
  padding-bottom: 4.2rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  color: $text-inverse-02;
  background: $ui-dark;
}
footer a,
footer a:visited {
  color: $text-inverse-02;
  text-decoration: underline;
}
footer a:hover,
footer a:focus {
  color: $text-inverse;
}
footer h4 {
  color: $text-inverse;
  font-size: 1.5rem;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  position: relative;
}
footer h4::before {
  content: '';
  display: block;
  width: 120px;
  height: 1px;
  background-color: rgba($ui-light, 0.05);
  position: absolute;
  left: 0;
  bottom: 0;
}
footer ul {
  list-style: none;
  margin: 0;
  margin-bottom: 2rem;
}
footer ul li {
  padding-left: 0;
}
.footer-social-list {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.footer-social-list li {
  clear: both;
  display: inline-block;
  margin-right: 8px;
}
.footer-social-list li:last-child {
  margin-right: 0;
}
.footer-site-links .list-links {
  margin-bottom: 3rem;
}
.footer-bottom {
  margin-top: 6.6rem;
  text-align: center;
}
.footer-bottom .copyright {
  font-size: 13px;
}
.footer-bottom .copyright span {
  display: inline-block;
}
.footer-bottom .copyright span::after {
  content: '|';
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba($ui-light, 0.1);
}
.footer-bottom .copyright span:last-child::after {
  display: none;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .footer-main > .row {
    max-width: 800px;
  }
  .footer-info,
  .footer-contact,
  .footer-site-links {
    margin-bottom: 1.2rem;
  }
  .footer-subscribe {
    clear: both;
  }
}
@media only screen and (max-width: 768px) {
  .footer-main > .row {
    max-width: 600px;
  }
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }
  #go-top {
    bottom: 0;
    right: 0;
  }
  #go-top a,
  #go-top a:visited {
    border-radius: 5px 0 0 0;
  }
}
@media only screen and (max-width: 600px) {
  .footer-main .row {
    max-width: 480px;
  }
  .footer-main h4 {
    padding-bottom: 0;
    margin-bottom: 2.4rem;
  }
  .footer-main h4::before {
    display: none;
  }
  .footer-main ul.list-links {
    width: 80%;
    display: block;
    margin-right: auto;
  }
  .footer-main ul.list-links li a {
    display: block;
    border-bottom: 1px solid rgba($ui-light, 0.03);
    padding: 0.6rem 0;
  }
  .footer-main ul.list-links li:first-child a {
    border-top: 1px solid rgba($ui-light, 0.03);
  }
  .footer-bottom {
    padding-bottom: 0.6rem;
  }
  .footer-bottom .copyright span {
    display: block;
  }
  .footer-bottom .copyright span::after {
    display: none;
  }
}
/* # sourceMappingURL=main.css.map */
