.whammy {
    display: flex;
}
.whammy-filter-selected {
    border-radius: 5px;
    background-color: rgb(91.7, 0, 0);
    color: white;
    padding: 1rem;
}
.whammy-filter-selector {
    display: none;
}
.whammy-filter-year {
    div {
        border-right: solid gray 1px;
        padding: 1rem;
        margin-right: 2rem;
        font-weight: bold;
        cursor: pointer;
    }
}
.whammy-content {
    flex: auto;
    display: flex;
    justify-content: center;
}
.whammy-content-year {
    display: inline-block;
}
.whammy-category {
    margin-bottom: 2rem;
}
.whammy-award, .whammy-recipient {
    display: inline-block;
}
.whammy-award {
    width: 400px;
}
@media only screen and (max-width: 768px) {
    .whammy-filter-selector {
        display: flex;
        justify-content: center;

        select {
            width: 100%;
        }
    }
    .whammy-filter-year {
        display: none;
    }
    .whammy-entry {
        display: flex;
        justify-content: space-between;
    }
    .whammy-award {
        width: unset;
    }
    .whammy-recipient {
        text-align: right;
    }
}