@media only screen and (min-width: 768px) {
    .regionals-eventdetails-details {
        display: flex;
        column-gap: 2rem;
    }
    .regionals-eventdetails-details-column1, .regionals-eventdetails-details-column2 {
        flex-basis: fit-content;
    }
}