.regionals-home-header {
    height: 45rem;
}
.regionals-home-header-image {
    height: inherit;
    background-image: url('../images/regionals-nasouth-2024/home-header.jpeg');
    background-position: left 20.5% bottom -30px !important;
}
.regionals-home-overview button {
    margin-top: 24px;
}
.regionals-home-divisions-wrapper > div {
    padding: 1rem 0 2rem;
}
[class^="regionals-home-divisions-"][class$="-name"] {
    font-size: 2.5rem;
}
.regionals-home-volunteer button {
    margin-top: 2rem;
}
.regionals-home-sponsors-businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1rem;
    row-gap: 1rem;
}
.regionals-home-sponsors-business {
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
@media only screen and (min-width: 768px) {
    .regionals-home-header {
        height: 38rem;
    }
    .regionals-home-header-image {
        background-position: center bottom -30px !important;
    }
    .regionals-home-overview button {
        width: auto;
    }
    .regionals-home-divisions-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .regionals-home-volunteer-signups {
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
        flex-wrap: wrap;
    }
    .regionals-home-volunteer-signups button {
        margin-top: 12px;
        width: auto;
    }
}

@media only screen and (min-width: 1000px) {
    .regionals-home-header {
        height: 62rem;
    }
    .regionals-home-header-image {
        background-position: center center !important;
    }
}
@media only screen and (min-width: 1280px) {
    .regionals-home-overview-wrapper, .regionals-home-volunteer-wrapper, .regionals-home-vendorsponsor-wrapper, .regionals-home-contact-wrapper {
        width: 1260px;
    }
    .regionals-home-overview, .regionals-home-volunteer, .regionals-home-vendorsponsor, .regionals-home-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}