.regionals-hospitality-header-image {
    background-image: url('../images/regionals-nasouth-2024/hospitality-header.jpeg');
}
.regionals-hospitality img {
    margin: 2rem 0;
    width: 100%;
}
.regionals-hospitality ul {
    list-style: none;
}
.regionals-hospitality-guide-details {
    display: flex;
    justify-content: center;
}
.regionals-hospitality-guide-details > iframe {
    height: 380px;
    width: 300px;
}
.regionals-hospitality-hotels p {
    text-align: center;
    line-height: 2.5rem;
}
.regionals-hospitality-atttractions-details li {
    margin: 3rem 0;
}
@media only screen and (min-width: 768px) {
    .regionals-hospitality-about, .regionals-hospitality-guide-wrapper, .regionals-hospitality-hotels, .regionals-hospitality-restaurants, .regionals-hospitality-attractions {
        padding: 0 5rem;
    }
    .regionals-hospitality-about-details {
        display: flex;
    }
    .regionals-hospitality-about-details-column1 {
        max-width: 60%;
        margin-right: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .regionals-hospitality-about-details-column1 img {
        width: 100%;
        max-width: 500px;
    }
    .regionals-hospitality-guide-details > iframe {
        height: 770px;
        width: 600px;
    }
    [class^="regionals-hospitality-hotels-"][class$="details"] {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    [class^="regionals-hospitality-hotels-"][class$="details"] img {
        width: 50%;
        max-width: 600px;
    }
    [class^="regionals-hospitality-hotels-"][class$="details"] div {
        margin-left: 2rem;
        width: 580px;
    }
    [class^="regionals-hospitality-hotels-"][class$="details"] p {
        margin: 0;
    }
    .regionals-hospitality-restaurants-locations {
        display: flex;
        width: 100%;
    }
    .regionals-hospitality-restaurants-locations > div {
        flex-grow: 1;
    }
    .regionals-hospitality-atttractions-details img {
        width: 600px;
    }
}
@media only screen and (min-width: 1400px) {
    [class^="regionals-hospitality-hotels-"][class$="details"] {
        justify-content: left;
    }
    [class^="regionals-hospitality-hotels-"][class$="details"] div {
        margin-left: 11rem;
    }
}