.regionals-info-about img {
    width: 100%;
}
[class^="regionals-info-event-dates-"][class$="-date"] {
    font-weight: bold;
    color: rgb(255, 169, 38);
}
.regionals-info-event-location iframe {
    width: 100%;
    height: 300px;
}
@media only screen and (min-width: 768px) {
    .regionals-info-outcome-teams {
        display: flex;
        justify-content: space-between;;
    }
    .regionals-info-more-details {
        display: flex;
        column-gap: 2rem;
    }
}